@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: Druk;
    src: url('/fonts/Druk.otf');
}

@font-face {
    font-family: FreeScript;
    src: url('/fonts/FreeScript.ttf');
}

@theme {
    --font-inter: 'Inter', 'sans-serif';
    --font-druk: 'Druk', 'sans-serif';
    --font-free-script: 'FreeScript', 'sans-serif';
    --color-brand-red: #BC2145;
    --color-brand: #DAC5A7;
    --color-btn-txt: #0E0E0E;


}

::selection {
    @apply bg-brand-red text-black;
}


html,
body {
    width: 100%;
    background-color: #040000;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility cta-btn {
    @apply bg-amber-100
}

@utility flex-center {
    @apply flex justify-center items-center
}

@utility col-center {
    @apply flex flex-col justify-center items-center
}