@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: Druk;
    src: url('/fonts/Druk.otf');
}

@font-face {
    font-family: FreeScript;
    src: url('/fonts/FreeScript.ttf');
}

@theme {
    --font-inter: 'Inter', 'sans-serif';
    --font-druk: 'Druk', 'sans-serif';
    --font-free-script: 'FreeScript', 'sans-serif';
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

