@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: Druk;
    src: url('/fonts/Druk.woff2') format('woff2'), url('/fonts/Druk.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: FreeScript;
    src: url('/fonts/FreeScript.woff2') format('woff2'), url('/fonts/FreeScript.woff2') format('woff');
    font-display: swap;
}

@theme {
    --font-inter: 'Inter', 'sans-serif';
    --font-druk: 'Druk', 'sans-serif';
    --font-free-script: 'FreeScript', 'sans-serif';
    --color-brand-red: #BC2145;
    --color-brand: #DAC5A7;
    --color-btn-txt: #0E0E0E;


}

::selection {
    @apply bg-brand-red text-black;
}


html,
body {
    width: 100%;
    background-color: #040000;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility cta-btn {
    @apply bg-amber-100
}

@utility flex-center {
    @apply flex justify-center items-center
}

@utility col-center {
    @apply flex flex-col justify-center items-center
}

@utility icon-hover {
    @apply hover:text-brand-red transition-colors duration-300
}

@utility input-style {
    @apply border border-brand/20 backdrop-blur-sm bg-brand/1 p-2 placeholder-brand/80 placeholder:text-xs focus:outline-none
}

@utility noutched-btn {
    @apply bg-brand font-inter text-xs text-btn-txt text-center cursor-pointer hover:bg-brand-red hover:text-white transition-colors duration-500
}

@utility error-txt {
    @apply font-inter text-red-500 text-sm mt-1
}
